{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('normal', '일반', true) }}
      {{ macros.m_tab_head('auto', '자동', false) }}
      <!--{{ macros.m_tab_head('manage', '관리', false) }}-->
    {{ macros.m_tab_head_end() }}
  </nav> 
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text('download_path', '다운로드 경로', value=arg['download_path'], desc=['다운로드 경로입니다.']) }}
      {{ macros.setting_input_text('proc_path', '파일처리 경로', value=arg['proc_path'], desc=['파일처리 경로입니다.']) }}
      {{ macros.setting_input_text('err_path', '오류파일 경로', value=arg['err_path'], desc=['오류파일 경로입니다.','※ 다운로드 경로안에 속하게 하지 마세요.']) }}
      {{ macros.setting_input_text('maxCost', '전체매칭점수', value=arg['maxCost'], desc=['가수, 제목, 앨범 매칭의 총 점수 기준입니다.','총 점수 300으로 해당 설정 점수로 매칭을 판단합니다.']) }}
      {{ macros.setting_input_text('singleCost', '단독매칭점수', value=arg['singleCost'], desc=['가수, 제목, 앨범 각각의 매칭점수 입니다.','각 점수 100으로 해당 설정 점수로 매칭을 판단합니다.','전체매칭점수와 단독매칭점수 두 조건의 AND 조건으로 판단합니다.']) }}
      {{ macros.setting_input_text('folderStructure', '폴더생성구조', value=arg['folderStructure'], desc=['폴더가 생성되는 구조입니다.','%title% : 노래제목','%artist% : 가수','%album% : 앨범명','%year% : 발매년도', '%genre% : 장르']) }}
      {{ macros.setting_checkbox('fileRename', '파일명 변경여부', value=arg['fileRename'], desc='On : MP3의 파일명을 변경합니다.') }}
      {{ macros.setting_input_text('fileRenameSet', '파일명', value=arg['fileRenameSet'], desc=['파일명 변경여부가 On 일때 변경되는 파일명입니다.','%title% : 노래제목','%artist% : 가수','%album% : 앨범명', '%track% : 트랙번호', '%year% : 발매년도', '%genre% : 장르']) }}
      {{ macros.setting_checkbox('isTagUpdate', 'TAG 업데이트', value=arg['isTagUpdate'], desc='On : 검색된 정보로 TAG 정보를 업데이트 합니다.') }}

      {{ macros.setting_input_text('interval', '건당처리지연시간', value=arg['interval'], desc=['기준단위 : 초','멜론의 경우 너무 빠른 반복조회시 오류가 발행합니다.']) }}
      {{ macros.setting_checkbox('notMp3delete', 'MP3 파일이 아닌경우 삭제', value=arg['notMp3delete'], desc='On : MP3 파일이 아닌경우 삭제 처리합니다.') }}
      {{ macros.setting_checkbox('emptyFolderDelete', '빈폴더 삭제', value=arg['emptyFolderDelete'], desc='On : 작업후 빈폴더 삭제') }}
      {{ macros.setting_checkbox('isEncoding', '인코딩변경 여부', value=arg['isEncoding'], desc='On : 작업시 인코딩을 변경후 작업') }}
      {{ macros.setting_input_text('isEncodingType', '인코딩변경 타입', value=arg['isEncodingType'], desc=['인코딩변경 여부가 ON일때 해당하는 타입은 인코딩변경을 하고 작업이 시작됩니다.']) }}
      {{ macros.setting_checkbox('isDupeDel', '중복파일 삭제', value=arg['isDupeDel'], desc='On : 중복파일인 경우 파일 삭제') }}
      {{ macros.setting_input_text('genreExc', '장르예외처리', value=arg['genreExc'], desc=['음원이 입력한 장르에 속하면 예외처리 합니다.','구분자 |']) }}
      {{ macros.setting_checkbox('isShazam', 'Shazam 검색 사용', value=arg['isShazam'], desc=['On : 음원에 TAG가 없을때 Shazam 검색을 통해 음원정보를 검색합니다.','Off 후  NoTAG 수동작업을 추천합니다.']) }}
      
      {{ macros.setting_buttons([['globalDbDeleteBtn', '목록 초기화']], "DB정리") }}
     
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
      {{ macros.setting_input_text('basic_interval', '스케쥴링 실행 정보', value=arg['basic_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('basic_auto_start', '시작시 자동실행', value=arg['basic_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('manage', false) }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data = null;

$(document).ready(function(){
});

</script>    
{% endblock %}